.burger-menu {
    display: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}

.burger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
}

/* Animation du burger en X */
.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 5px);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -5px);
}
